$font-family: "Poppins", sans-serif;

$color-background:#3D0000;
$color-background2:#0D0D0D;

$color-secundario:#DB241B;
$color-terciario:#F6A700;

$color-botones:#AB1C15;

$color-seccion:#950101;
$color-seccion2:#D3D2D2;

$color-texto:#FFFFFF;
$color-texto2:#7D7463;

$color-input:#7D7463;

$header-height: 88px;

$color-warning: hsl(0, 44%, 61%) !default;