/*CATALOGO*/
@import 'variables';

.table-container {
    max-width: 100%;
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    font-size: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  
    thead tr {
      background-color: $color-background;
      color: $color-texto;
      text-align: left;
      text-align: center;
      th {
        border: none;
        font-size: 1.125rem;
        padding: 2rem 1.25rem;
        white-space: nowrap;
      }
    }
  
    tbody tr {
      border-bottom: none;
  
      &:nth-of-type(even) {
        background-color: $color-background;
      }
  
      &:last-of-type {
        border-bottom: 4px solid $color-background2;
      }
  
      td {
        padding: 1rem 1.25rem;
        border: none;
        white-space: wrap;
        text-align: center;
        img {
          max-width: 100px;
          height: auto;
        }
      }
    }
  
  }
  
  #message-not-found {
    display: none;
    text-align: center;
    font-size: 1rem;
    padding: 2rem;
  }
  
  
  /* Estilos para la sección de filtros */
  #filter-section {
    background-color: $color-background2;
    padding: 2rem;
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    
  }

  
  input[type="text"],
  input[type="number"],  
  input[type="date"]{
    display:none;
  }
  
  /* Estilos para los campos de filtro */
  input[type="text"],
  input[type="number"],
  input[type="date"],select{
    flex-grow: 1;
    min-width: 200px;
    max-width: 250px;
    font-size: 1rem;
    padding: 1rem;
    background-color: $color-background2;
    font-family: $font-family;
    border: 1px solid $color-input;
    color: $color-texto2;
    &:focus, &:hover, &:active {
      border: 1px solid $color-botones;
      color: $color-texto;
    }

    &::-webkit-inner-spin-button,&::-webkit-calendar-picker-indicator {
      cursor: pointer;
      border-radius: 4px;
      margin-right: 2px;
      opacity: 0.6;
      filter: invert(0.8);
    }
  }



  /* Estilos para el botón del filtro */
  button {
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: $color-background 0.3s;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    font-family: $font-family;
  
    &#apply-filters {
      background-color: $color-botones;
      color: $color-texto;
    }
  
    &#apply-filters:hover {
      background-color: darken($color-background, 0%);
    }
  
    &#reset-filters {
      background-color:$color-botones;
      color: $color-texto;
    }
  
    &#reset-filters:hover {
      background-color: darken($color-background, 0%);
    }

    &#delete-filters{
      background-color:$color-botones;
      color: $color-texto;
    }
  
    &#delete-filters:hover {
      background-color: darken($color-background, 0%);
    }

    
  }
  