@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
/*BASE*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #3D0000;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
}

main {
  background-color: #0D0D0D;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  min-height: calc(100vh - 136px);
  padding: 1rem 2rem;
  margin: 1.5rem;
}

h1 {
  font-size: 1.75rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
}

.text-right {
  text-align: right;
}

/*FLEX*/
.fx-row {
  display: flex;
  flex-direction: row;
}

.fx-column {
  display: flex;
  flex-direction: column;
}

.fx-align-items-center {
  align-items: center;
}

.fx-content-space-between {
  justify-content: space-between;
}

.fx-content-center {
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .fx-hide-xs {
    display: none;
  }
  .fx-column-xs {
    display: flex;
    flex-direction: column;
  }
}
/*HEADER*/
#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 90px;
  max-height: 88px;
  min-height: 88px;
  height: 88px;
  background-color: #0D0D0D;
  opacity: 0.9;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

#logo img {
  width: 200px;
  cursor: pointer;
  padding: 15px;
}

nav {
  height: 50px;
  font-size: 1.25rem;
}
nav ul {
  list-style: none;
  margin-bottom: 0;
}
nav li {
  padding: 0.75rem 2rem;
  font-weight: 300;
}
nav a {
  text-decoration: none;
  color: #FFFFFF;
}
nav ul li:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #AB1C15;
}

@media screen and (max-width: 768px) {
  .menu {
    padding: 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  .menu label {
    display: initial;
  }
  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--color-background);
    height: auto;
    display: none;
    opacity: 1;
  }
  .menu .navbar ul {
    width: 100%;
  }
  .menu .navbar li {
    width: 100%;
  }
  #menu:checked ~ .navbar {
    display: initial;
  }
}
.filter-section {
  background-color: #0D0D0D;
  padding: 2rem;
  border: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.form-section {
  display: flex;
  flex-direction: column;
  width: 50vw;
  background-color: white;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
}

input[type=text],
input[type=number],
input[type=date] {
  display: none;
}

/* Estilos para los campos de filtro */
input[type=text],
input[type=number],
input[type=date], select {
  flex-grow: 1;
  min-width: 200px;
  max-width: 250px;
  font-size: 1rem;
  padding: 1rem;
  background-color: #0D0D0D;
  font-family: "Poppins", sans-serif;
  border: 1px solid #7D7463;
  color: #7D7463;
}
input[type=text]:focus, input[type=text]:hover, input[type=text]:active,
input[type=number]:focus,
input[type=number]:hover,
input[type=number]:active,
input[type=date]:focus,
input[type=date]:hover,
input[type=date]:active, select:focus, select:hover, select:active {
  border: 1px solid #AB1C15;
  color: #FFFFFF;
}
input[type=text]::-webkit-inner-spin-button, input[type=text]::-webkit-calendar-picker-indicator,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-calendar-picker-indicator,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator, select::-webkit-inner-spin-button, select::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.8);
}

/* Estilos para el botón del filtro */
button {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: #3D0000 0.3s;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  font-family: "Poppins", sans-serif;
}
button.btn-action {
  background-color: #AB1C15;
  color: #FFFFFF;
}
button.btn-action:hover {
  background-color: #0a0000;
}
button.btn-submit {
  background-color: #AB1C15;
  color: #FFFFFF;
}
button.btn-submit:hover {
  background-color: #3d0000;
}
button.btn {
  background-color: #AB1C15;
  color: #FFFFFF;
}
button.btn:hover {
  background-color: #3d0000;
}

/*CATALOGO*/
.table-container {
  max-width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
table thead tr {
  background-color: #3D0000;
  color: #FFFFFF;
  text-align: left;
  text-align: center;
}
table thead tr th {
  border: none;
  font-size: 1.125rem;
  padding: 2rem 1.25rem;
  white-space: nowrap;
}
table tbody tr {
  border-bottom: none;
}
table tbody tr:nth-of-type(even) {
  background-color: #3D0000;
}
table tbody tr:last-of-type {
  border-bottom: 4px solid #0D0D0D;
}
table tbody tr td {
  padding: 1rem 1.25rem;
  border: none;
  white-space: wrap;
  text-align: center;
}
table tbody tr td img {
  max-width: 100px;
  height: auto;
}

.message {
  display: none;
  text-align: center;
  font-size: 1rem;
  padding: 2rem;
}

/*# sourceMappingURL=styles.css.map */
